{% load static %}

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SmarTour App</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS
        ================================================ -->

        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{% static 'style/font-awesome.min.css' %}">

		<link rel="stylesheet" href="{% static 'style/main.css' %}">
	</head>
	<body>
        <a  class="btn btn-default btn-sm header-btn" href="{% url 'home' %}">
            Back
        </a>

    <!--
    Form section  start
    ============================= -->
    <section id="form-section">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="block border">
                        <h3 class="title">Lorem, ipsum dolor.<span>Survey1</span> </h3>
                        <form action="{% url 'result' %}">

                        {% csrf_token %}
                        Gender: <input type="text" required name="Gender" placeholder="Gender"> <br> <br>
                        Age_group: <input type="text" required name="Age_group" placeholder="Age group"> <br> <br>
                        City: <input type="text" required name="City" placeholder="City to be visited"> <br> <br>
                        Travel_With: <input type="text" required name="Travel_With" placeholder="Who are you travelling with"> <br> <br>
                        Total_female: <input type="text" required name="Total_female" placeholder="Total female travelling with"> <br> <br>
                        Total_male: <input type="text" required name="Total_male" placeholder="Total male travelling with"> <br> <br>
                        Purpose_of_Visit: <input type="text" required name="Purpose_of_Visit" placeholder="Purpose of Visit"> <br> <br>
                        Total_Days: <input type="text" required name="Total_Days" placeholder="Total Visiting Days"> <br> <br>

                        <input type="submit" name="" value="submit">

                        </form>
                    </div>
                </div>
    
                <div class="col-lg-6 text-center py-4 m-auto">
                <!--Image illustration-->
                    <img src="{% static 'images/undraw_stranded_traveler_pdbw (2).svg' %}" class="form-img">
                
                <div class="block" >
                    <p class="text-muted" style="padding: 1rem; margin-top: 2px; width: 90%; text-align: center; margin: auto; margin-top: 2rem;">Going to a tourist attraction? Find out how much you are likely to spend there.</p>
                    <a class="btn btn-outline" href="survey2.html">Survey 2</a> 
                </div>
                </div>


            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- #form-section close -->

    <!--footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>A She Code Africa Project &copy; 2021 - All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	</body>
</html>