{% load static %}

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SmarTour App</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS
        ================================================ -->
    <!-- bootstrap. css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- custom styling-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
	</head>
	<body>
        <a  class="btn btn-default btn-sm header-btn-2" href="{% url 'home' %}">
            Back
        </a>

    <!--
    Form section  start
    ============================= -->
    <section id="form-section">
        <div class="container py-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="card info-card mx-auto">
                        <div class="card-header">
                            This will take a few minutes.
                        </div>
                        <div class="card-body">
                            <form action="{% url 'result' %}" class="row">

                              {% csrf_token %}
                                <div class="form-group col-6" >
                                    <label>Gender: </label>
                                    <input type="text" required 
                                        name="Gender" placeholder="Gender"
                                        class="form-control"> 
                                </div>

                                <div class="form-group col-6">
                                    <label>Age_group: </label>
                                    <input type="text" required 
                                        name="Age_group" placeholder="Age group"
                                        class="form-control"> 
                                </div>
                                <div class="form-group col-6">
                                    <label>City: </label>
                                    <input type="text" required name="City"     
                                        placeholder="City to be visited"
                                        class="form-control"> 
                                </div>

                                <div class="form-group col-6">
                                    <label>Travel_With: </label>
                                    <input type="text" required 
                                        name="Travel_With" placeholder="Who are you travelling with"
                                        class="form-control"> 
                                </div>

                                <div class="form-group col-6">
                                    <label>Total_female: </label>
                                    <input type="text" required name="Total_female" 
                                        placeholder="Total female travelling with"
                                        class="form-control"> 
                                </div>

                                <div class="form-group col-6">
                                    <label>Total_male: </label>
                                    <input type="text" required name="Total_male" 
                                        placeholder="Total male travelling with"
                                        class="form-control">                                 
                                </div>

                                <div class="form-group col-6">
                                    <label>Purpose_of_Visit:</label> 
                                    <input type="text" required name="Purpose_of_Visit" 
                                        placeholder="Purpose of Visit"
                                        class="form-control">                                 
                                </div>

                                <div class="form-group col-6">
                                    <label>Total_Days:</label> 
                                    <input type="text" required name="Total_Days" 
                                        placeholder="Total Visiting Days"
                                        class="form-control">                                
                                </div>

                                <!--Submit button-->
                                <input type="submit" name="" value="submit" class="btn form-btn">
                                </form>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <!--Image illustration-->
                    <img src="images/undraw_stranded_traveler_pdbw (2).svg" class="form-img">
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- #form-section close -->

    <!--footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>A She Code Africa Project &copy; 2021 - All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	</body>
</html>