{% load static %}

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SmarTour App</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS
        ================================================ -->

        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>

    <div class="container-fluid custom-container survey-bg">
        <a  class="btn btn-default btn-sm header-btn-2" href="{% url 'home' %}">
            Back
        </a>
        <!--
        Form section  start
        ============================= -->
        <section id="form-section">
            <div class="container py-4">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-xs-12 mx-auto">
                        <div class="card info-card mx-auto">
                            <div class="card-header">
                                This will take a few seconds.
                            </div>
                            <div class="card-body">
                                <form action="{% url 'result' %}" class="row">

                                {% csrf_token %}
                                    <div class="form-group col-6" >
                                        <label>Gender: </label>
                                        <select name="Gender" required type="text" class="form-control">
                                            <option value="" disabled selected hidden>-- select --</option>
                                            <option value="0">Female</option>
                                            <option value="1">Male</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Age_group: </label>
                                        <select name="Age_group" required type="text" class="form-control">
                                            <option value="" disabled selected hidden>-- select your age --</option>
                                            <option value="0">18-25</option>
                                            <option value="1">26-35</option>
                                            <option value="2">36-45</option>
                                            <option value="3">less than 18</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>City: </label>
                                        <select name="City" required type="text" class="form-control">
                                            <option value="" disabled selected hidden>-- select city to visit--</option>
                                            <option value="0">Abuja</option>
                                            <option value="1">Bauchi</option>
                                            <option value="2">Bayelsa</option>
                                            <option value="3">Cross River</option>
                                            <option value="4">Delta</option>
                                            <option value="5">Edo</option>
                                            <option value="6">Ekiti</option>
                                            <option value="7">Enugu</option>
                                            <option value="8">Gombe</option>
                                            <option value="9">Kaduna</option>
                                            <option value="10">Kano</option>
                                            <option value="11">Lagos</option>
                                            <option value="12">Niger</option>
                                            <option value="13">Ogun</option>
                                            <option value="14">Ondo</option>
                                            <option value="15">Osun</option>
                                            <option value="16">Oyo</option>
                                            <option value="17">Rivers</option>
                                            <option value="18">Sokoto</option>
                                            <option value="19">Uyo</option>
                                            <option value="20">Yola</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Travel_With: </label>
                                        <select name="Travel_With" required type="text" class="form-control">
                                            <option value="" disabled selected hidden>-- select who you are traveling with--</option>
                                            <option value="0">Alone</option>
                                            <option value="1">Friends</option>
                                            <option value="2">Relatives</option>
                                            <option value="3">Spouse</option>
                                        </select>                                    
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Total_female: </label>
                                        <input class="form-control" required name="Total_female" placeholder="-- Input total female --"/>                             
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Total_male: </label>
                                        <input class="form-control" required name="Total_male" placeholder="-- Input total male --"/>
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Purpose_of_Visit:</label> 
     
                                        <select required name="Purpose_of_Visit" type="text" class="form-control">
                                            <option value="" disabled selected hidden>-- Select purpose of visit--</option>
                                            <option value="0">Business,Meeting and conferences</option>
                                            <option value="1">Class Trip</option>
                                            <option value="2">Engagement party</option>
                                            <option value="3">Family event</option>
                                            <option value="4">Honeymoon</option>
                                            <option value="5">Leisure and Holidays</option>
                                            <option value="6">Visiting friends and relatives</option>

                                        </select>                                                    
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Total_Days:</label>      
                                        <input class="form-control" required name="Total_Days" placeholder="-- Input days of stay --"/>                          
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Email:</label>      
                                        <input class="form-control" required name="Email" placeholder="-- Input Email --"/>                          
                                    </div>

                                    <!--Submit button-->
                                    <input type="submit" name="" type="text" value="submit" class="btn form-btn">
                                    </form>

                            </div>
                        </div>
                    </div>

                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #form-section close -->


    </div>



    <!--footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>A She Code Africa Project &copy; 2021 - All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	</body>
</html>

